<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <display-name>jax-rs-sample</display-name>

  <context-param>
    <param-name>resteasy.guice.modules</param-name>
    <param-value>org.tomochika1985.sample.BootstrapModule</param-value>
  </context-param>

  <filter>
    <filter-name>restfulFilter</filter-name>
    <filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>restfulFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener</listener-class>
  </listener>

</web-app>
